<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/amminHome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="box">
            <a href="/admin/write"><img src="/img/scary.png"></a>
            <p>영상 업로드</p>
        </div>
        <div class="box">
            <a href="/admin/list/1"><img src="/img/skull.png"></a>
            <p>영상 게시판</p>
        </div>
        <div class="box">
            <a href="/admin/user/list/1"><img src="/img/vampire.png"></a>
            <p>회원관리</p>
        </div>
        <div class="box">
            <a href="/admin/analyze"><img src="/img/ghost.png"></a>
            <p>현황 분석</p>
        </div>
        <div class="box">
            <a href="/browse"><img src="/img/coffin.png"></a>
            <p>유저 홈</p>
        </div>
    </div>
</body>
</html>