<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="">영상 업로드</a>
    <a href="">영상 리스트</a>
    <a href="">회원관리</a>
    <a href="">현황</a>
</body>
</html>