<%- include('admin_nav.ejs') %>
  <header>
    <h2 class="header__title mb-3" >영상 목록</h1>
  </header>
  <table class="table table-hover w-75" style="margin-left: auto; margin-right: auto;">
    <thead class="table-dark">
      <tr>
        <th scope="col">글번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성날짜</th>
        <th scope="col">작성자</th>
      </tr>
    </thead>
    <tbody id="post-list">
    </tbody>
  </table>
  <div class=" d-md-flex justify-content-md-end me-5">

    <button type="button" class="btn btn-secondary  justify-content-end" id="deleted">삭제된 콘텐츠</button>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    </ul>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script>
    // 일반페이지 페이징 함수
    function getPosts(page) {
      $.ajax({
        url: '/admin/list/' + page,
        method: 'get',
        dataType: "json",
        success: function (data) {
          renderPosts(data.posts);
          renderPagination(data.total, page, data.path);
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.error(errorThrown);
        }
      });
    }

    // 목록만들기 함수
    function renderPosts(posts) {
      var postList = $('#post-list');
      postList.empty();
      posts.forEach(function (elem, i) {
        postList.append('<tr id="frame' + i + '"></tr>');
        postFrame = $('#frame' + i + '');
        postFrame.append('<th scope="row">' + elem._id + '</th>');
        postFrame.append('<td>' + '<a href="detail/' + elem._id + '">' + elem.제목 + ' </a>' + '</td>');

        postFrame.append('<td>' + elem.작성날짜 + '</td>');
        postFrame.append('<td>' + '군침이' + '</td>');
      });
    }
    // 페이지번호 만들기 함수
    function renderPagination(total, currentPage, path) {
      var pagenation = $('.pagination');
      pagenation.empty();
      if (total > 1) {
        if (currentPage > 1) {
          pagenation.append('<li class="page-item"><a class="page-link" data-page=' + (parseInt(currentPage) - 1) + ' href="">Previous</a></li>')
        }
        for (var i = 1; i <= total; i++) {
          if (i == currentPage) {
            pagenation.append('<li class="page-item disabled"><span class="page-link" >' + i + '</span></li>');
          } else {
            pagenation.append('<li class="page-item"><a class="page-link" href="#" data-page="' + path + i + '">' + i + '</a></li>');
          }
        }
        if (currentPage < total) {
          pagenation.append('<li class="page-item"><a class="page-link"  data-page=' + (parseInt(currentPage) + 1) + ' href="">Next</a></li>')
        }
        $('.page-link').click(function (e) {
          e.preventDefault();
          var page = e.target.dataset.page
          currentPage = page;
          getPosts(page);
        });
      }
    }

    //목록 페이징 구현
    window.addEventListener('DOMContentLoaded', function (e) {
      var currentPage = 1;
      getPosts(currentPage);
    })

    //검색기능
    $('#search').click(function () {
      let put = $('#val').val();
      console.log(put);
      window.location.replace('/admin/search?value=' + put);
    });

    //삭제목록 페이징 구현
    let deleted = document.querySelector('#deleted');
    deleted.addEventListener('click', function (e) {
        let deleted = e.target.innerHTML;
        if(deleted =="삭제된 콘텐츠"){
        e.target.innerHTML = "콘텐츠리스트"
        var currentPage = 'deleted/1'
        getPosts(currentPage);
        }else{
          e.target.innerHTML = "삭제된 콘텐츠"
          var currentPage = 1;
          getPosts(currentPage);
        }
    })


    // window.addEventListener("DOMContentLoaded", function () {

    //   var currentPage = 1;
    //   function getPosts(page) {
    //     $.ajax({
    //       url: '/admin/list/' + page,
    //       method: 'get',
    //       dataType: "json",
    //       success: function (data) {
    //         renderPosts(data.posts);
    //         renderPagination( data.total, page);
    //       },
    //       error: function (jqXHR, textStatus, errorThrown) {
    //         console.error(errorThrown);
    //       }
    //     });
    //   }
    //   function renderPosts(posts) {
    //     var postList = $('#post-list');
    //     postList.empty();
    //     posts.forEach(function (elem, i) {
    //       postList.append('<tr id="frame' + i + '"></tr>');
    //       postFrame = $('#frame' + i + '');
    //       postFrame.append('<th scope="row">' + elem._id + '</th>');
    //       postFrame.append('<td>' + '<a href="detail/' + elem._id + '">' + elem.제목 + ' </a>' + '</td>');

    //       postFrame.append('<td>' + elem.작성날짜 + '</td>');
    //       postFrame.append('<td>' + '군침이' + '</td>');
    //     });
    //   }

    //   function renderPagination( total, currentPage) {
    //     var pagenation = $('.pagination');
    //     pagenation.empty();
    //     if (total > 1) {
    //       if (currentPage > 1) {
    //         pagenation.append('<li class="page-item"><a class="page-link" data-page=' + (parseInt(currentPage) - 1) + ' href="">Previous</a></li>')
    //       }
    //       for (var i = 1; i <= total; i++) {
    //         if (i == currentPage) {
    //           pagenation.append('<li class="page-item active"><span class="page-link">' + i + '</span></li>');
    //         } else {
    //           pagenation.append('<li class="page-item"><a class="page-link" href="#" data-page="' + i + '">' + i + '</a></li>');
    //         }
    //       }
    //       if (currentPage < total) {
    //         pagenation.append('<li class="page-item"><a class="page-link"  data-page=' + (parseInt(currentPage) + 1) + ' href="">Next</a></li>')
    //       }
    //       $('.page-link').click(function (e) {
    //         e.preventDefault();
    //         var page = e.target.dataset.page
    //         currentPage = page;
    //         getPosts(page);
    //       });
    //     }
    //   }
    //   getPosts(currentPage);
    // });





  </script>
  </body>

  </html>