<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>관리자페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin/home">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/browse">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/write">업로드</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/write">회원관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/write">현황분석</a>
          </li>
        </ul>
        <div class="d-flex">
          <input id="val" class="form-control me-2" type="search" placeholder="검색" aria-label="Search">
          <button id="search" class="btn btn-outline-success" type="button">Search</button>
        </div>
      </div>
    </div>
  </nav>
  <header>
    <h1 class="header__title">영상 목록</h1>
  </header>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">글번호</th>
        <th scope="col">제목</th>
        <th scope="col">날짜</th>
        <th scope="col">작성자</th>
      </tr>
    </thead>
    <tbody id="postList">
      
    </tbody>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
      
      </ul>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script>

      window.addEventListener("DOMContentLoaded", function () {
        var currentPage = 1;

        function getPosts(page) {
          $.ajax({
            url: '/admin/list/' + page,
            method: 'get',
            dataType: "json",
            success: function (data) {
              renderPosts(data.posts);
              renderPagination(data.pageSize, data.total, page);}, 
            error: function (xhr, status, error) {
              console.error(error);
            }
          });
        }

        function renderPosts (posts) {
          var postList = $('#post-list');
          postList.empty();
          posts.forEach(function(elem,i) {
            postFrame = $('#frame');
            postList.append(postFrame);
            postFrame.append('<th>'+elem._id+'</th>');
            postFrame.append('<th>'+elem.제목+'</th>');
            postFrame.append('<th>'+elem.작성날짜+'</th>');
            postFrame.append('<th>'+'군침이'+'</th>');
          });
        }
        
        function renderPagination(pageSize, total, currentPage){
          var pagenation = $('.pagenation');
          pagenation.empty();
          if(total>1){
              for(var i=1; i<total; i++){
                if(i===currentPage){
                  pagenation.append('<li class="page-item">'+i+'</li>');
                }else{
                  pagenation.append('<li class="page-item"><a class="page-link" href="#">'+i+'</a></li>')
                }
              }
            $('.page-link').click(function(e){
              e.preventDefault();
              var page = $(this).data('page');
              getPosts(page);
              currentPage = page;
            });
              
          }
        }




        getPosts(currentPage);


      });









      $('#search').click(function () {
        let put = $('#val').val();
        console.log(put);
        window.location.replace('/admin/search?value=' + put);
      });

    </script>
</body>

</html>