<%- include('head.ejs') %>
<body>
  <%- include('nav.ejs') %>
  <main>
    <div id="upload">
      <form class="upload--form" method="post">
        <label for="title">제목</label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="input title"
          required
        />
        <label for="detail">내용</label>
        <textarea
          type="text"
          name="detail"
          id="detail"
          placeholder="input detail"
          required
        ></textarea>
        <button type="submit">submit</button>
      </form>
    </div>
  </main>
  <%- include('footer.ejs') %>
</body>
