<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="/css/board_nav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title><%=pageTitle%></title>
  </head>
</html>
<nav>
  <div class="left">
    <div class="logo">
      <a href="/browse"><img src="img/logo.png" alt="" /></a>
    </div>
    <div class="mobile-menu">메뉴</div>
    <ul class="menu-list">
      <li>
        <a href="/browse">홈</a>
      </li>
    </ul>
  </div>
  <div class="right">
    <div class="icon search">
      <div class="search-bar">
        <form action="/board/search/1" method="get">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" name="kw" placeholder="검색" />
          <button class="search--btn" type="submit">검색</button>
        </form>
      </div>
    </div>
    <div class="icon bell">
      <a href="#"><i class="fa-solid fa-bell"></i></a>
    </div>
    <div class="icon profile">
      <ul>
        <li>
          <a href="#">
            <div class="avatar-box"></div>
            <i class="fa-solid fa-caret-down"></i>
           </a>
           <ul>
             <a href="/board/list/1">Board List</a>
             <a href="/board/upload">Board Upload</a>
             <% if(!isLoggedIn){ %>
             <a href="/login">Login</a>
             <% } else { %>
             <a href="/logout">logout</a>
             <% } %>
            </ul>
          </li>
         </ul>
       </div>
    </div>
  </div>
</nav>