<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/footer.js"></script>
    <title>footer</title>
</head>
<body>
    <footer>
        <div class="wrap">
            <div class="social-icons">
                <i class="fa-brands fa-facebook-square"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="options">
                <div class="option"><a href="">자막 및 음성</a></div>
                <div class="option"><a href="">음성 지원</a></div>
                <div class="option"><a href="">고객 센터</a></div>
                <div class="option"><a href="">기프트카드</a></div>
                <div class="option"><a href="">미디어 센터</a></div>
                <div class="option"><a href="">투자 정보(IR)</a></div>
                <div class="option"><a href="">입사 정보</a></div>
                <div class="option"><a href="">이용 약관</a></div>
                <div class="option"><a href="">개인 정보</a></div>
                <div class="option"><a href="">법적 고지</a></div>
                <div class="option"><a href="">쿠키 설정</a></div>
                <div class="option"><a href="">회사 정보</a></div>
                <div class="option"><a href="">문의하기</a></div>
            </div>
        </div>
    </footer>
</body>
</html>