<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="/css/nav.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>nav</title>
  </head>
  <body>
    <nav>
      <div class="left">
        <div class="logo">
          <a href="#"><img src="img/logo.png" alt="" /></a>
        </div>
        <div class="mobile-menu">메뉴</div>
        <ul class="menu-list">
          <li>
            <a href="/browse">홈</a>
          </li>
          <li>
            <a href="#">시리즈</a>
          </li>
          <li>
            <a href="board/list">영화</a>
          </li>
          <li>
            <a href="#">NEW! 요즘 대세 콘텐츠</a>
          </li>
          <li>
            <a href="#">내가 찜한 콘텐츠</a>
          </li>
        </ul>
      </div>
      <div class="right">
        <div class="icon search">
          <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="검색" />
          </div>
        </div>
        <div class="icon bell">
          <a href="#"><i class="fa-solid fa-bell"></i></a>
        </div>
        <div class="icon profile">
          <a href="#">
            <div class="avatar-box"></div>
            <i class="fa-solid fa-caret-down"></i>
          </a>
        </div>
        <div class="button-container">
          <button class="login-button"><a href="/login">로그인</a></button>
          <button class="logout-button"><a href="/logout">로그아웃</a></button>
        </div>
      </div>
    </nav>
  </body>
</html>
