<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <form action="/userpage" method="POST">
        <fieldset>
            <legend>userpage</legend>
            <h4><%= user.id %> 님의 페이지입니다.</h4>

            </fieldset>
        </form>
    </div>
    <%- include('footer.ejs') %>
</body>
</html>