.detail-box {
  width: 80%;
  margin: auto;
  border: 1px solid white;
  border-radius: 10px;
  /* height: 70vh; */
}
.detail-box h3 {
  width: 100%;
  color: white;
  font-size: 1.8rem;
  margin-bottom: 15px;
}
.detail-box p {
  width: 100%;
  color: white;
  font-size: 1.3rem;
  line-height: 23px;
}

.comment-box {
  width: 80%;
  margin: auto;
  height: auto;
}
.comment-box-form__flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.comment-box-form__flex > textarea {
  width: 85%;
  height: 5rem;
  color: black;
}
.comment-box-form__flex > button {
  width: 10%;
  height: 4rem;
  background-color: #ad0000;
  border-radius: 5px;
}
