.con-search {
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
  background-color: lightgray;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
}

.con-search__info {
  /* border: solid 1px teal; */
  width: 50%;
}

.con-search__info > h3 > a {
  font-size: 2rem;
  color: #141414;
}

.con-search__util {
  /* border: solid 1px teal; */
  width: 50%;
}

.con-search__util > h4 {
  margin-left: 28%;
  margin-bottom: 7px;
}

.con-search__util > .con-li__btn:nth-child(2) {
  margin-left: 59%;
}

/* .con-li__util > .con-li__btn:last-child {
      margin-left: 85%;
    } */

.con-search__btn {
  width: 65px;
  height: 30px;
  border-radius: 5px;
  margin-left: 1%;
  background-color: #ad0000;
  display: inline;
}
