.con-li {
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
  background-color: lightgray;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
}

.con-li__info {
  /* border: solid 1px teal; */
  width: 50%;
}

.con-li__info > h3 > a {
  font-size: 2rem;
  color: #141414;
}

.con-li__util {
  /* border: solid 1px teal; */
  width: 50%;
}

.con-li__util > h4 {
  margin-left: 28%;
  margin-bottom: 7px;
}

.con-li__util > .con-li__btn:nth-child(2) {
  margin-left: 59%;
}

/* .con-li__util > .con-li__btn:last-child {
    margin-left: 85%;
  } */

.con-li__btn {
  width: 65px;
  height: 30px;
  border-radius: 5px;
  margin-left: 1%;
  background-color: var(--ptcolor);
  display: inline;
}

.page {
  margin-top: 20px;
  background-color: #141414;
  width: 30%;
}

.page ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.page ul li {
  list-style: none;
}

.page ul li a {
  font-size: 1.8rem;
}
