@import "./reset.css";
:root{
    --black : 13131a;
    --bg : #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    color: #fff; 
    user-select: none;
    font-family: Arial, sans-serif;
}

header{
    padding: 1.5rem 5%;
}

/* -----------------비디오 플레이어 시작--------------- */
.player-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
/* 비디오 플레이어 컨테이너 스타일 */
.player-container {
    position: relative;
    height: 500px;;
    width: 80%;
    background-color: #000;
}
    
/* 비디오 플레이어 스타일 */
.player {
    width: 100%;
    height: 100%;
}   
    
/* -----------------비디오 플레이어 끝--------------- */

/* -----------------컨텐츠 정보 시작----------------- */

/* 컨테츠 정보 스타일 */
.infomation{
    border: 1px solid var(--bg);
    width: 100%;
    height: 540px;
    display: flex;
    justify-content: center;
    z-index: 2;
}
/* 컨텐츠 정보 박스 스타일 */
.content-container{
    border: 1px solid var(--bg);
    width: 80%;
    height: 500px;
    z-index: 3;
    display: flex;
    justify-content: center;
}
/* 컨텐츠 이미지 스타일 */
.content-img{
    border: 1px solid var(--bg);
    height: 500px;
    width: 30%;
    display: flex;
    justify-content: center;
}
/* 컨텐츠 이미지 사이즈 조정 */
.content-img img{
    height: auto;
    object-fit: cover;
}
/* 컨텐츠 디테일 정보 스타일 */
.content-info{
    border : 1px solid beige;
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
/* 컨텐츠 헤더 정보 스타일 */
.content-header {
    border : 1px solid beige;
    height: 100px;
    width: 70%;
}
/* 컨텐츠 내용 정보 스타일 */
.content-discription{
    border : 1px solid beige;
    height: 150px;
    width: 100%;
}
/* 컨텐츠 크리에잇터 정보 스타일 */
.content-creater{
    border : 1px solid beige;
    height: 80px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
/* 컨텐츠 감독 정보 스타일 */
.director{
    border : 1px solid beige;
    height: 80px;
    width: 50%;
}
/* 컨텐츠 주연배우 정보 스타일 */
.actor{
    border : 1px solid beige;
    height: 80px;
    width: 50%;
}
.rating{
    border : 1px solid beige;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.rating-bookmark{
    width: 50px;
    height: 50px;
    border : 1px solid beige;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rating-bookmark button{
    border: 0;
    outline: 0;
    font-size: 25px;
    cursor: pointer;
    background-color: var(--bg);
}
/* 별점을 표시할 div 요소를 인라인 요소로 표시 */
.start-rating {
    display: inline-block;
}
  
  /* 각 별 요소의 스타일 */
.star {
    font-size: 3rem; /* 별의 크기 */
    color: grey; /* 별의 색상 */
    cursor: pointer; /* 마우스 커서 모양 */
}
  
/* 각 별 요소의 콘텐츠를 별 모양으로 추가 */
.star::before {
    content: "\2606"; /* 별 빈 모양 */
}
  
/* 선택된 별 요소의 콘텐츠를 별 채워진 모양으로 변경 */
.star.selected::before {
    content: "\2605"; /* 별 채워진 모양 */
    color: #f5c518; /* 색상 */
}
/* 선택된 별 요소의 콘텐츠를 반만 채워진 모양으로 변경 */
.star.harfselected::before {
    content: "\2605";
    color: #f5c518;
    background: linear-gradient(to right, #f5c518 50%, grey 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


/* -----------------컨텐트 정보 끝----------------- */

/* 리뷰 댓글 시작*/
.review{
    border: 1px solid beige;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 리뷰 댓글 끝 */